.input-personal-details {
    input {
      margin: 1rem;
      font-size: 1.2rem;
    }
  
    .input-wrapper {
      display: flex;
      flex-direction: column;
    }
}

.input-summary {
    textarea {
        font-size: 1.2rem;
        width: 30rem;
        height: 8rem;
    }
}

.input-skills {
    textarea {
        font-size: 1.2rem;
        width: 30rem;
        height: 8rem;
    }
}

.input-experience-item, .input-projects-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    gap: 10px;

    h2 {
        padding: 0;
        margin: 0;
    }
    
    input, textarea {
        font-size: 1.3rem;
    }
}