* {
    box-sizing: border-box;
}

.output {
    width: 40vw;
    color: black;
    .a4-size {
      width: 100%;
      aspect-ratio: 210 / 297;  /* A4 paper ratio */
      border: 1px solid black;
    }
  }
  
.a4-size {
    color: black;
    font-size: 1vw;
    h1 {
        font-size: 1.3em;
        margin-top: 0.4em;
        margin-bottom: 0.1em;
    }
    section {
        font-size: 0.8em;
        display: flex;
        span {
            margin-left: 3px;
            margin-right: 3px;
        }
    }
    .head {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
  }

.summary, .skills, .experience, .projects, .education {
    margin: 0.8em;
    * {
        margin: 0;
    }
    h2 {
        font-size: 1em;
    }
    h3 {
        font-weight: 600;
        font-size: 0.9em;
    }
    h4 {
        font-weight: 500;
        font-size: 0.8em;
    }
    p {
        font-size: 0.7em;
    }
}

.name-period-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    .time-period {
        margin-left: auto;
    }
}

.education {
    .main-details-wrapper {
        display: flex;

        .year {
            margin-left: auto;
        }
    }
}

@media print {
    .a4-size {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        font-size: 1.2rem;
    }
    header, nav, .input-section *, .output button{
        display: none;
    }
}